{% extends 'base.html' %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
  <h1 class="text-center">Comments</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
      {% if comments %}

        {% for comment in comments %}
          <div class="card">
            <h5 class="card-header">{{comment.body}}</h5>
            <div class="body">
              <p class="card-text"><small class="text-muted">Posted On: {{comment.posted_on}}</small></p>              
              <p class="card-text"><small class="text-muted">Posted By: {{comment.posted_by}}</small></p>                                             
            </div> 
          </div>
        {% endfor %}  
      {% else %}
        <h5 class="alert alert-danger">There are no comments for this Blog</h5>
      {% endif %}
      
      </div>

      <div class="col-md-4">
        {{wtf.quick_form(form)}}
      </div>
      
    </div>
  </div>


{% endblock content %}
