body{
  background-image: url("https://images.unsplash.com/photo-1496243975092-6ec259c776e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;    
}
.jumbotron{
  text-align: center;
  color:black;
  background-color: gray;
  padding: 10px;
  font-family: 'Akronim', cursive;
  font-size: 50px;
}