body{
  background-image: url("https://www.xmple.com/wallpaper/white-grey-gradient-linear-1920x1080-c2-ffffff-808080-a-300-f-14.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;  
}
.jumbotron{
  text-align: center;
  color:black;
  background-color: gray;
  padding: 10px;
  font-family: 'Akronim', cursive;
  font-size: 50px;
}