body{
  background-image: url("https://i.pinimg.com/originals/18/50/d9/1850d98a3b8e5cf81bb45739f20c0a01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;  
}
h3{
  color: rgb(1, 235, 252);
  font-family: 'Fredericka the Great', cursive;
}
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-box-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.jumbotron{
  text-align: center;
  color:black;
  background-color: gray;
  padding: 10px;  
  font-family: 'Akronim', cursive;
  font-size: 50px;
}
.social {
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}