{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Profile page for {{user.username}} <h1>
  <div class="row">
  <div class="col-md-4">
    {% if user.profile_pic_path %}
      <img class="card" src="{{url_for('static',filename=user.profile_pic_path)}}" alt="Profile Pic" class="img-thumbnail" width="250px" height="250px">
    {% else %}  
      <p class="alert alert-danger">No profile pic</p>
    {% endif %}  
    
    {% if user==current_user %}
    <form action="{{url_for('main.update_pic',name=user.username)}}" method="post" enctype="multipart/form-data">
      <input type="file" name="photo" class="form-control" required>

      <input class="btn btn-success" type="submit">
    </form>  
    {% endif %}
    <h3>Name: {{user.username}}</h3>
    <h3>Bio</h3>
    {% if user.bio %}
      <p>{{user.bio}}</p>
    {% else %}  
      <p class="alert alert-danger">{{user.username}} has no bio</p>
      <br>
      <a class="btn btn-outline-info" href="{{url_for('main.update_profile',name=user.username)}}">Edit Bio</a>
    {% endif %}


  </div>
  <div class="col-md-8">
    <h2>My Blogs</h2>
    {% for blog in personalblogs %}
      <div class="card">
        <div class="card-header">{{blog.title}}</div>
        <div class="card-body">{{blog.body}}</div>
        <div class="card-footer">
          <ul>
            <li>{{blog.posted_on}}</li>
            <li>{{blog.posted_by}}<li>                        
          </ul>
          <a class="btn btn-success" href="">View Comments</a>
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock content %}