{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Profile page for {{user.username}} <h1>
  <div class="row">
  <div class="col-md-4">
    {% if user.profile_pic_path %}
      <img class="card" src="{{url_for('static',filename=user.profile_pic_path)}}" alt="Profile Pic" class="img-thumbnail" width="250px" height="250px">
    {% else %}  
      <p class="alert alert-danger">No profile pic</p>
    {% endif %}  
    
    {% if user==current_user %}
    <form action="{{url_for('main.update_pic',name=user.username)}}" method="post" enctype="multipart/form-data">
      <input type="file" name="photo" class="form-control" required>

      <input class="btn btn-success" type="submit">
    </form>  
    {% endif %}
    <h3>Name: {{user.username}}</h3>
    <h3>Bio</h3>
    {% if user.bio %}
      <p>{{user.bio}}</p>
    {% else %}  
      <p class="alert alert-danger">{{user.username}} has no bio</p>
      <br>
    {% endif %}
    <a class="btn btn-outline-info" href="{{url_for('main.update_profile',name=user.username)}}">Edit Bio</a>

  </div>
  <div class="col-md-8">
    <h2>My Blogs</h2>
    {% if personalblogs %}
      {% for blog in personalblogs %}
        <div class="card">
          <div class="card-header">{{blog.title}}</div>
          <div class="card-body">{{blog.body}}</div>
          <div class="card-footer">
            <ul>
              <li class="card-text"><small class="text-muted">Category: {{blog.category}}</small></li>              
              <li class="card-text"><small class="text-muted">Posted On: {{blog.posted_on}}</small></li>              
              <li class="card-text"><small class="text-muted">Posted By: {{blog.posted_by}}</small></li>                          
            </ul>
            
            <a class="btn btn-success" href="{{url_for('main.comments',id=blog.id)}}">View Comments</a>
            {% if blog.posted_by==current_user.username %}
              <a class="btn btn-outline-danger" href="{{url_for('main.delBlog',id=blog.id)}}">Delete Blog</a>
            {% endif %}  
          </div>
        </div>
        {% endfor %}
    {% else %}    
      <h6 class="alert alert-danger">You have no Blogs {{user.username}}</h6>
    {% endif %}  
    
  </div>
</div>
{% endblock content %}